//	自定义tab切换
//	选择label
.custom-label {
	cursor: pointer;
	position: relative;
	color: var(--cB3B5B5);

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 30px;
		height: 4px;
		bottom: calc(-2em + 4px);
		left: 50%;
		margin-left: -15px;
	}

	&.active-label {
		color: var(--cFFFFFF);

		&::after {
			background-color: var(--cFFFFFF);
		}
	}
}